/* Body */

body {
    margin: 0;
    font-family: 'Montesrrat', sans-serif;
}

h1,
h2,
h3,
h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}


/* Navbar */

#navbar {
    background-color: #E3F6F5;
    padding: 0.75rem;
}

h1.brand-name {
    display: inline-block;
    margin: 1rem 2rem;
}

h1.brand-name:hover {
    cursor: pointer;
}

.nav-links {
    display: inline;
    position: absolute;
    top: 1.15rem;
    right: 24px;
}

.nav-link {
    text-decoration: none;
    color: #272343;
    display: inline-block;
    padding: 0.75rem;
    margin: 0 5px;
}

.nav-link:hover {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}


/* Header */

#header {
    background-color: white;
    display: block;
}

.header-content {
    text-align: center;
    padding: 6rem;
    display: block;
    position: static;
}

.header-img {
    display: inline-block;
    margin: 25px;
}

.profile-pic {
    width: 15vw;
    border-radius: 100%;
}

.header-text {
    display: inline-block;
    text-align: left;
    padding: 2rem;
    transform: translateY(-25%);
    max-width: 50vw;
}

.header-text>h1 {
    color: rgb(55, 55, 55);
    font-size: 3rem;
    font-weight: 700;
}

.header-text>h2 {
    color: grey;
    font-size: 1rem;
    font-weight: 400;
}


/* Main Content */

#main-content {
    background-color: #E3F6F5;
    padding: 2rem;
    margin: 0 auto;
}

.post-card {
    width: 70vw;
    padding: 2rem 4rem;
    margin: 2rem auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 2px;
    text-align: left;
}

.post-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}


/* Post Card Styles */

.post-card-text-div {
    display: inline-block;
}

.post-card-title {
    font-weight: 400;
    display: inline-block;
    margin-bottom: 0;
    color: rgb(55, 55, 55);
}

.post-card-date {
    font-weight: 400;
    margin-top: 10px;
    font-family: 'Montserrat-Bold', sans-serif;
    color: rgb(75, 75, 75);
}

.post-card-desc {
    font-weight: 400;
    color: grey;
    display: inline-block;
    width: 45vw;
    text-align: justify;
}

.post-card-img {
    width: 20vw;
    margin-left: 4vw;
}


/* Membership */

#membership {
    text-align: center;
    padding: 2rem;
    background-color: white;
}

#membership>h2 {
    font-weight: 700;
    margin-bottom: 3rem;
}

.news-letter,
.support {
    padding: 1rem;
    margin: 0.75rem auto 0;
}

#email-inp {
    margin: 1rem 0.5rem;
    padding: 0.25rem;
    width: 30vw;
    height: 1.5rem;
    outline: none;
    border: none;
    border-bottom: 2px solid #272343;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

.button {
    height: 2rem;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid grey;
    border-radius: 2px;
}

.button:hover {
    background-color: azure;
    border: 2px solid #272343;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.support>h3 {
    margin: 2rem auto;
}

.support-price {
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
    display: inline;
}


/* About */

#about {
    padding: 2rem;
    background-color: #E3F6F5;
    text-align: center;
}

.about-me {
    width: 60vw;
    padding: 2rem;
    margin: auto;
}

.about-me>h2 {
    font-weight: 700;
    padding: 1rem;
    font-size: 2rem;
}

.about-me>h3 {
    font-weight: 700;
    padding: 1rem;
    font-size: 1.5rem;
}

.about-me>h4 {
    font-weight: 400;
    padding: 1rem;
    font-size: 1.2rem;
    color: rgb(55, 55, 55);
}

.social-bar {
    padding: 1rem 2rem;
}

.social-icon {
    margin: 0.5rem 1rem;
    font-size: 2rem;
    color: grey;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-facebook:hover {
    color: #3B5998;
}

.fa-envelope:hover {
    color: rgb(55, 55, 55);
}


/* Footer */

#footer {
    margin: 0;
    text-align: center;
    background-color: rgb(55, 55, 55);
    color: whitesmoke;
    padding: 1rem;
}

.made-by,
.copyright {
    font-size: 1.2rem;
    font-weight: 400;
}

#back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    background-color: grey;
    text-align: center;
    color: rgb(55, 55, 55);
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

#back-to-top:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.fa-arrow-up {
    font-size: 2rem;
    margin: 0.5rem auto;
}

@media screen and (max-width: 800px) {
    #navbar {
        text-align: center;
    }
    .brand-name {
        font-size: 1rem;
        font-weight: 700;
    }
    .nav-links {
        display: block;
        position: static;
    }
    .nav-link {
        margin: 0.1rem;
        font-size: 0.8rem;
        padding: 0.5em;
        font-weight: 700;
    }
    #header {
        background-color: white;
    }
    .header-img {
        display: block;
        margin: auto;
        padding: 1.5rem;
    }
    .header-content {
        display: block;
        margin: auto;
        padding: 0.5rem;
        text-align: center;
    }
    .profile-pic {
        width: 35vw;
        margin: 1.5rem auto;
    }
    .header-text {
        text-align: center;
        padding: 0.5rem;
    }
    .header-text>h1 {
        font-size: 1rem;
    }
    .header-text>h2 {
        font-size: 0.8rem;
        line-height: 1.5;
        margin: auto;
    }
    .post-card {
        text-align: center;
        width: 50vw;
        padding: 1.5rem;
    }
    .post-card-title {
        font-size: 1rem;
        margin: 0;
    }
    .post-card-date {
        font-size: 0.5rem;
    }
    .post-card-desc {
        display: none;
    }
    .post-card-img {
        width: 40vw;
        margin: auto;
    }
    #membership>h2 {
        font-size: 0.8rem;
        line-height: 1.5;
        margin: 0;
    }
    .news-letter {
        margin: auto;
        padding: 0.5rem;
    }
    .news-letter>h3,
    .support>h3 {
        font-size: 0.8rem;
    }
    .support>h3 {
        font-weight: 700;
    }
    .support {
        margin: 0;
        padding: 0.5rem;
    }
    .support-price {
        display: block;
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 0.8rem;
    }
    #email-inp {
        width: 60vw;
        margin: 1rem auto;
    }
    .about-me>h2,
    .about-me>h3 {
        font-size: 1rem;
        text-align: center;
        margin: 0.25rem auto 0;
    }
    #about {
        padding: 0.5rem;
    }
    .about-me {
        margin: 0 auto;
        padding: 0.5rem;
        width: 80vw;
    }
    h4.about-me-desc {
        font-size: 0.8rem;
    }
    .thanks {
        font-size: 0.8rem !important;
    }
    .social-icon {
        font-size: 1rem;
        margin: 0.4rem;
    }
    .made-by,
    .copyright {
        font-size: 0.8rem;
    }
    
    #back-to-top {
        width: 40px;
        height: 40px;
    }
    .fa-arrow-up {
        font-size: 1.5rem;
    }
}
